<ion-header>
  <ion-toolbar class="glass-header">
    <ion-title>Mantenedor de Perfumes</ion-title>
    <ion-buttons slot="start">
      <!-- Botón para regresar al home -->
      <ion-button (click)="goToHome()">
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Campo de búsqueda -->
  <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="filterPerfumes()" placeholder="Buscar por nombre" class="glass-searchbar"></ion-searchbar>

  <!-- Formulario para agregar/editar perfumes -->
  <ion-card class="glass-card">
    <ion-card-header>
      <ion-card-title>{{ isEditing ? 'Editar Perfume' : 'Agregar Perfume' }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item class="glass-input">
        <ion-label position="stacked">Nombre</ion-label>
        <ion-input [(ngModel)]="perfume.name" placeholder="Nombre del perfume"></ion-input>
      </ion-item>

      <ion-item class="glass-input">
        <ion-label position="stacked">Marca</ion-label>
        <ion-input [(ngModel)]="perfume.brand" placeholder="Marca del perfume"></ion-input>
      </ion-item>

      <ion-item class="glass-input">
        <ion-label position="stacked">Descripción</ion-label>
        <ion-textarea [(ngModel)]="perfume.description" placeholder="Descripción del perfume"></ion-textarea>
      </ion-item>

      <ion-item class="glass-input">
        <ion-label position="stacked">Cantidad</ion-label>
        <ion-input type="number" [(ngModel)]="perfume.cantidad" placeholder="Cantidad"></ion-input>
      </ion-item>

      <ion-item class="glass-input">
        <ion-label position="stacked">Precio</ion-label>
        <ion-input type="number" [(ngModel)]="perfume.precio" placeholder="Precio"></ion-input>
      </ion-item>

      <ion-item class="glass-input">
        <ion-label position="stacked">URL de la imagen</ion-label>
        <ion-input [(ngModel)]="perfume.imageUrl" placeholder="URL de la imagen"></ion-input>
      </ion-item>

      <ion-button expand="full" (click)="isEditing ? updatePerfume() : addPerfume()">
        {{ isEditing ? 'Actualizar' : 'Agregar' }}
      </ion-button>
      <ion-button *ngIf="isEditing" expand="full" color="danger" (click)="resetForm()">Cancelar</ion-button>
    </ion-card-content>
  </ion-card>

  <!-- Lista de perfumes -->
  <ion-list>
    <ion-item *ngFor="let perfume of filteredPerfumes" class="glass-card perfume-item">
      <ion-label>
        <h2 class="perfume-name">{{ perfume.name }}</h2>
      </ion-label>
      <ion-button (click)="editPerfume(perfume)" class="select-button">Seleccionar</ion-button>
      <ion-button color="danger" (click)="deletePerfume(perfume.id!)">Eliminar</ion-button>
    </ion-item>
  </ion-list>
</ion-content>