<ion-content [fullscreen]="true">
  <div class="login-container">
    <ion-card class="glass-card">
      <ion-card-header>
        <ion-card-title>Iniciar sesión</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <!-- Formulario de Login -->
        <ion-item class="glass-input">
          <ion-label position="stacked">Correo Electrónico</ion-label>
          <ion-input type="email" placeholder="Ingrese su correo" [(ngModel)]="email" required></ion-input>
        </ion-item>

        <ion-item class="glass-input">
          <ion-label position="stacked">Contraseña</ion-label>
          <ion-input type="password" placeholder="Ingrese su contraseña" [(ngModel)]="password" required></ion-input>
        </ion-item>

        <ion-button expand="full" class="login-button" (click)="login()">Iniciar sesión</ion-button>

        <!-- Enlace para ir a la página de registro -->
        <ion-text class="register-link">
          ¿No tienes una cuenta? <a (click)="goToRegister()">Regístrate</a>
        </ion-text>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>