<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Carrito</ion-title>
    <ion-buttons slot="start">
      <!-- Botón para regresar al home -->
      <ion-button (click)="goToHome()">
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list class="glass-list">
    <ion-item *ngFor="let item of cartItems" class="glass-item">
      <ion-label>
        <h2>{{ item.name }}</h2>
        <p>Cantidad: {{ item.selectcantidad }}</p>
        <p>Precio: {{ item.precio * item.selectcantidad | currency }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- Botón para finalizar la compra -->
  <ion-button expand="full" color="light" class="checkout-button" (click)="checkout()">Finalizar Compra</ion-button>
</ion-content>